<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>

      <mat-card-title class="mat-card-title" >Login</mat-card-title>
      
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Login">

          <mat-form-field class="example-full-width" [class.has-error]="email.inavalid && email.touched">
            <mat-label for="email" >Email</mat-label>
            <input id="email" matInput placeholder="Email" name="email" #email="ngModel" [(ngModel)]="log_email" >
            <mat-icon matSuffix>email</mat-icon>
            <span class="help-block"
            
            *ngIf="email.inavalid && email.touched">
            Email is required

            </span>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [(ngModel)]="log_password">
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>

          <button  mat-button color="primary" (click)="login()" >Login</button>
        </mat-tab>

        

      </mat-tab-group>

    </mat-card-content>

  </mat-card>
</div>